.title-area
  %h1 Navigation
.area
  %ul{ :class => "nav nav-list" }
    %li
      %a{ :href => accounts_path }
        %i{ :class => "icon-home" }
        My Account
    - if current_user.owns_company
      %li
        %a{ :href => subscriptions_path }
          %i{ :class => "icon-asterisk" }
          Payments