%ul{ :class => "nav nav-list" }
  %li.nav-header Navigation
  %li
    %a{ :href => accounts_path }
      %i{ :class => "icon-home" }
      My Account
  %li
    %a{ :href => subscriptions_path }
      %i{ :class => "icon-asterisk" }
      Payments & Plans