.title-area
  %h1 Navigation
.area
  %ul{ :class => "nav nav-list" }
    %li
      %a{ :href => developer_index_path }
        %i{ :class => "icon-home" }
        Developer Home
.title-area
  %h1 API Status
.area#developers
  %ul{ :class => "nav nav-list" }
    %li
      %span.label.label-success Create application
    %li
      %span.label.label-success Login to TimeTracker
    %li
      %span.label.label-important Dashboard
    %li
      %span.label.label-important Account
    %li
      %span.label.label-important Company
    %li
      %span.label.label-important Projects
    %li
      %span.label.label-important Tasks
    %li
      %span.label.label-important Timeslips
    %li
      %span.label.label-important Manage reports