%ul{ :class => "nav nav-list" }
  %li.nav-header Navigation
  %li
    %a{ :href => dashboard_index_path }
      %i{ :class => "icon-home" }
      Dashboard
    %a{ :href => company_index_path }
      %i{ :class => "icon-user" }
      Company