%ul{ :class => "nav nav-list" }
  %li.nav-header Navigation
  %li
    %a{ :href => dashboard_index_path }
      %i{ :class => "icon-home" }
      Dashboard
    - if current_user
      - if !current_user.sub_account
        %a{ :href => company_index_path }
          %i{ :class => "icon-user" }
          Company
      - if current_user.company && !current_user.sub_account
        %a{ :href => projects_path }
          %i{ :class => "icon-th-list" }
          Projects
      - if current_user.company && ((current_user.company.projects.count > 0 && !current_user.sub_account) || current_user.company.tasks_count > 0)
        %a{ :href => tasks_path }
          %i{ :class => "icon-ok" }
          Tasks
          %a{ :href => timeslips_path }
            %i{ :class => "icon-time" }
            Timeslips