%ul{ :class => "nav nav-list" }
  %li.nav-header Navigation
  %li
    %a{ :href => dashboard_index_path }
      %i{ :class => "icon-home" }
      Dashboard
    - if !current_user.sub_account
      %a{ :href => company_index_path }
        %i{ :class => "icon-user" }
        Company
      %a{ :href => projects_path }
        %i{ :class => "icon-user" }
        Projects
      %a{ :href => tasks_path }
        %i{ :class => "icon-user" }
        Tasks
    %a{ :href => timeslips_path }
      %i{ :class => "icon-time" }
      Timeslips