- content_for(:title, 'Developers')
.row
  .span2
    = render :partial => "shared/developer_sidebar"
  .span9
    .title-area
      %h1 Developers
    .area#developers
      %p Here you will soon be able to:
      %ul
        %li Apply for a developer API key
        %li Create an application
        %li Modify and remove applications
        %li Access the API documentation