- content_for(:title, 'TimeTracker')
%h1 Time sheets and time tracking
.area
  %p Sending invoices to a client is an important part of a freelance developers work.
  %p TimeTracker makes this simple by giving the ability to record expenses and have them turned into PDFs along with the company name, personal details and other information.
  %p Try out TimeTracker today for free!
  %p= link_to "See Plans & Pricing", home_plans_path
%hr.soften
.bottom
  - if current_user
    %p= link_to "Dashboard", dashboard_index_path, :class => "btn btn-primary btn-large"
  - else
    %p= link_to "Login", new_user_session_path, :class => "btn btn-primary btn-large"
    %p= link_to "Try For Free", new_user_registration_path, :class => "btn btn-primary btn-large"