- content_for(:title, 'TimeTracker - Plans & Pricing')

%div{ :class => "container"}
.subscriptions
  %h2 Available Plans
  %br
  - @plans.each do |plan|
    = render :partial => "home/plan", :locals => { :plan => plan }