- content_for(:title, 'Subscription')
.row
  .span2
    = render :partial => "shared/account_sidebar"
  .span9
    .title-area
      %h1 Subscription Confirmed
    .area
      - if !@current_company
        %div.alert{ :class => twitterized_type(:error) }
          %a.close{ "data-dismiss" => "alert" } x
          You have not set up your company.
      %p You should receive an email to confirm your payment.
      %p Your account now has the following new limits:
