- content_for(:title, 'Payments')
.row
  .span2
    = render :partial => "shared/account_sidebar"
  .span10
    - if !@current_company
      %div.alert{ :class => twitterized_type(:error) }
        %a.close{ "data-dismiss" => "alert" } x
        You have not set up your company.
    %h1 Plans & Upgrades
    - if @subscription
      %div.alert{ :class => twitterized_type(:alert) }
        %h4= "You are on the #{@subscription} plan."
    - else
      %h4 You have not yet selected a plan.
    %hr
    %p Choose a plan:
    .well
      %h2 Starter
      %dl.dl-horizontal
        %dt Projects:
        %dd 1
        %dt Users:
        %dd 1
        %dt Cost:
        %dd £8/month
      %a.btn.btn-primary{ :href => @starter_url, :target => "_blank" }
        Choose this plan
    .well
      %h2 Basic
      %dl.dl-horizontal
        %dt Projects:
        %dd 10
        %dt Users:
        %dd 15
        %dt Cost:
        %dd £16/month
      %a.btn.btn-primary{ :href => @basic_url, :target => "_blank" }
        Choose this plan
    .well
      %h2 Professional
      %dl.dl-horizontal
        %dt Projects:
        %dd 30
        %dt Users:
        %dd 100
        %dt Cost:
        %dd £32/month
      %a.btn.btn-primary{ :href => @professional_url, :target => "_blank" }
        Choose this plan
    - if @subscription
      .well
        %p If you want to cancel your account subscription please click the following button:
        = link_to "Cancel Subscription", cancel_subscriptions_path, :class => 'btn btn-danger'
