= simple_form_for(@company, :url => company_index_path(@company), :html => {:class => 'form-horizontal' }) do |f|
    = f.input :name, :required => true, :autofocus => true, :class => 'input-xlarge', :label => 'Company Name'
    = f.input :registration_number, :class => 'input-xlarge', :label => 'Registration Number'
    = f.button :submit, "Create my account", :class => 'btn btn-primary'