.row
  .span2
    = render :partial => "shared/sidebar"
  .span10
    - if !@company
      %div.alert{ :class => twitterized_type(:error) }
        %a.close{ "data-dismiss" => "alert" } x
        You have not set up your company.
    %h1 Company
    - if @company
      = @company.name
    - else
      %p Click here to create your company.
      = render 'form'