.home-body {
  background: #FFF;
	background-image: url("bg.png");
}
.home {
	.container {
		font-family: proxima-nova, 'Helvetica Neue', Helvetica, sans-serif;
		background: #f6f6f6;
	  -moz-box-shadow: 0 1px 5px #DCDCDC;
	  -webkit-box-shadow: 0 1px 5px #DCDCDC;
	  box-shadow: 0 1px 5px #DCDCDC;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		border: 1px solid #D6D6D6;
	}
	.head {
		background: #FFF;
		text-align: center;
		padding: 20px 20px 20px 20px;
		border: 1px solid #e1e1e1;
		border-width: 0 0 1px 0;
		p {
			font-family: proxima-nova, 'Helvetica Neue', Helvetica, sans-serif;
			font-weight: 300;
			font-size: 17px;
			margin-left: 10px;
		}
	}
	.main {
		background: #FFF;
		padding: 30px;
		margin: 30px;
		border: 1px solid #e1e1e1;
		-moz-box-shadow: 0 1px 5px #EBEBEB;
	  -webkit-box-shadow: 0 1px 5px #EBEBEB;
	  box-shadow: 0 1px 5px #EBEBEB;
		p {
			font-family: proxima-nova, 'Helvetica Neue', Helvetica, sans-serif;
			font-size: 16px;
			line-height: 22px;
			padding: 2px 0px;
		}
		.description {
			padding: 20px 0 10px 0;
		}
		hr.soften {
			margin: 20px;
		}
		.bottom {
			text-align: center;
		}
	}
	footer {
		font-weight: normal;
		color: #717171;
	}
}