.home-body {
  background: #F3F3F3;
	color: #FFF;
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.home {
	font-family: proxima-nova, 'Helvetica Neue', Helvetica, sans-serif;
	background: #F3F3F3;
	background-image: url("header_bg.png");
	.header {
		background: #FFF;
		color: #000;
		text-align: center;
		padding: 20px 5px 20px 5px;
		border: 1px solid #484848;
		border-width: 0 0 1px 0;
		p {
			font-size: 16px;
			font-weight: 300;
			font-family: proxima-nova, 'Helvetica Neue', Helvetica, sans-serif;
		}
	}
	.masthead {
		margin: 20px;
		border: 1px solid #3B3B3B;
		padding: 20px;
		text-shadow: 0 -1px #33363C;
		text-align: center;
		background: #FFF;
		-moz-box-shadow: 0 1px 5px #323232;
	  -webkit-box-shadow: 0 1px 5px #323232;
	  box-shadow: 0 1px 5px #323232;
		h1 {
			font-size: 51px;
			margin-bottom: 5px;
		}
		p {
			font-family: proxima-nova, 'Helvetica Neue', Helvetica, sans-serif;
			font-size: 17px;
			font-weight: 300;
			letter-spacing: 1px;
			margin-bottom: 30px;
		}
	}
	footer {
		background: #F3F3F3;
		color: #515151;
		height: 100px;
		padding-top: 20px;
		border: 1px solid #DBDBDB;
		border-width: 1px 0 0 0;
	}
}
.home-container {
  margin: auto;
  border: 0;
  height: 100%;
  background: #FEFFFE;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px #8E8E8E;
  -webkit-box-shadow: 0 0 5px #8E8E8E;
  box-shadow: 0 0 5px #8E8E8E;
}
.home .thumbnail {
  border: 0;
  box-shadow: none;
}
.btn {
	font-family: proxima-nova, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 17px;
}