- content_for(:title, 'Support')
.row
  .span2
    = render :partial => "shared/sidebar"
  .span9
    .title-area
      %h1 Support
    .area#support
      %p The contact form will go here
    .title-area
      %h1 FAQ
    .area#support
      %h3 How do I create a company
      %p Answer
      %h3 How do I add users to my company
      %p Answer
      %h3 How do I organise who gets to access which projects?
      %p Answer
      %h3 How do I create a project
      %p Answer
      %h3 How do I create tasks
      %p Answer
      %h3 How do I create a timeslip
      %p Answer
      %h3 How do I view timeslips
      %p Answer
      %h3 How do I search for timeslips
      %p Coming soon...
      %h3 How do I export time sheets?
      %p Coming soon...
      %h3 A user is already on TimeTracker but I can't add them, how do I do this?
      %p Coming soon...
      %h3 What happens if I want to invite a user to my company?
      %p This is not yet implemented. We will be adding an invitation system where they user may sign up and add their own password upon selecting the invitation.
      %h3 The subscriptions and plans don't fit to my company size, what can I do?
      %p Answer
      %h3 Is their a mobile application being released for TimeTracker? (iOS, Android, etc.)
      %p Coming soon...
      %h3 Can I ask another question?
      %p Feel free! Just go to the top of this page and create a new support ticket.