- content_for(:title, 'Privacy')
.row
  .span2
    = render :partial => "shared/sidebar"
  .span9
    .title-area
      %h1 Privacy Policy
    .area#privacy
      %h2 Privacy Policy
      %p
        %em Last modified: June 1, 2012
      %p At TerraCoding, the privacy of our customers is of extreme importance to us. This privacy policy document outlines the types of personal information is received and collected by TerraCoding and how it is used. 
      %hr
      %h3 Personal Information
      %p Personal information is only collected when you voluntarily provide it to us, such as when you send us an email, post content or information, or create and update your profile.
      %p All personal information is kept private unless posted onto the feed which then only friends that you accept can see. People can only see your journey feed when you have accepted them as a friend.
      %p We may also automatically collect certain information through the use of "cookies" or web beacons.
      %p Certain information may be collected when visiting the website and using our services, such as your IP address, operating system, browser type and activity on the site. This is all treated with respect to your privacy and is only used for creating analytics of the site, such as the amount of visitors coming to the site and from which countries.
      %hr
      %h3 Usage of Personal Information
      %p The use of personal information is as follows:
      %ul
        %li to provide services or information when you request, to process and complete any transactions;
        %li response to your emails, requests, complains and for customer service;
        %li to monitor and analyse site usage and trends, and to personalise and improve our site and our users' experiences on our site, such as providing content, or improving the site's functionality;
        %li to send you updates, notifications, confirmations, and administrative messages; and
        %li for any other purpose for which the information was collected.
      %hr
      %h3 Third Parties
      %p Personal information collected is not shared with third parties, except as described in our privacy policy or on our site. We share personal information as follows:
      %ul
        %li with service providers who are working with us in connection with the operation of our site or our services;
        %li when you give us consent to do so;
        %li when we believe in good faith that we are lawfully authorised or required to do so or that doing so is reasonably necessary or appropriate to comply with the law or legal processes or respond to lawful requests or legal authorities, including responding to lawful subpoenas, warrants or court orders; and
        %li to enforce or apply our privacy policy, our terms of use or other policies or agreements.
      %hr
      %h3 Questions?
      %p If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at contact@terracoding.com.