- content_for(:title, 'Features')
.row
  .span2
    .title-area
      %h1 Features
    .area
      %ul{ :class => "nav nav-list" }
        %li
          = link_to "Time Tracking", "#"
  .span9
    .title-area
      %h1 Time Tracking
    .area
      Area